$baize: #F0F0F0;
$white: #FFF;
$grey: #494949;
$blue: #3571B0;
$light-blue: #197DE8;
$dark-red: #931600;
body
{
    background: $baize;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
}
.btn .glyphicon
{
    color: $baize;
}
.m1
{
    margin-top:1em;
}
.control-validation
{
    color: $dark-red;
    font-weight: bold;
    display: block;
    text-indent: 0.3em;
    font-size:0.9em;
}
#top
{
    background: $blue;
    min-height: 40px;
    color: $baize;
    font-weight: bold;
    line-height:2em;
    font-size:1.1em;
}
#title h2
{
    margin:0;
    font-weight: bold;
    margin-top:1em;
}
#title h4
{
    margin:0;
    margin-bottom:1em;
    color: $grey;
}
#info-container
{
    padding-right:1em;
    text-align: justify;
}
footer
{
    font-size:0.8em;
    margin-bottom:2em;
}
@media only screen and (max-device-width: 480px) {      
    #main { -webkit-text-size-adjust:100% }   
}
.song-list td
{
    background: $white;
    color: $grey;
    cursor: pointer;
}
.table>tbody>tr>td, .table>tbody>tr>th
{
    vertical-align: middle;
}
label
{
    display: inline;
}
.popup
{
    background: $white;
    padding: 1em;
    border: 1px solid $grey;
}
.popup h5
{
    margin: 0px;
    color: $grey;
}
.panel {
    overflow: visible;
    border-radius: 5px 5px 5px 5px;
    position: absolute;
    z-index: 1;
    padding: 1em;
    opacity: 1;
    background: #fff;
    border: 1px solid #333;
    margin-top:1px;
}
#song-popup
{
    min-width:400px;
}
#playlist-popup
{
    min-width:400px;
}
.hide
{
    visibility: hidden;
}
#add-buttons section, #add-buttons section
{
    display:inline;
}
.drag-container
{
    min-height: 50px;
}
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
}
.gu-hide {
  display: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
.gu-mirror {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
